.referencesImage:hover {
    -fx-opacity: 0.5;
}

.accountImage:hover {
    -fx-opacity: 0.5;
}

.analyzeImage:hover {
    -fx-opacity: 0.5;
}

.nutritionImage:hover {
    -fx-opacity: 0.5;
}

.settingsImage:hover {
    -fx-opacity: 0.5;
}

.trainingImage:hover {
    -fx-opacity: 0.5;
}

.headerAnchorPane {
    -fx-pref-weight: auto;
    -fx-pref-height: 60;
    -fx-background-color: #222831;
}

.buttons {
    -fx-background-color: #00adb5;
    -fx-text-fill: #eeeeee;
    -fx-font-family: Helvetica;
}

.mainAnchorPane {
    -fx-background-color: #eeeeee;
}